  /* Start Global rules */
  *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
     box-sizing:border-box;
  }
  body{
    font-family:Arial, Helvetica, sans-serif;
    
  }

  /* End Global rules */


    /* Start Header */
    .header{
     background: url("../images/photo1.jpg")no-repeat top center;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     background-size: cover;
     min-height: 500px;
     position: relative;
    }
    .header .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        color: #fff;
        background-color: rgba(0, 170, 255, 0.856);
    }
    .header .overlay h1{
        font-size: 60px;
        margin-top: 100px;
        
    }
    .header .overlay .plan{
       border: 4px solid #fff;
       font-size: 24px;
       width: 48%;
       padding:20px;
       margin-left: 1%;
       margin-right: 1%;
       word-break: break-all;
        
    }
    .header .overlay .order{
        border: 4px solid #fff;
        font-size: 24px;
        padding:20px;
        margin: 30px 1% 0;

         
     }

    @media (max-width:420px) {  /* Custome Media not found on Bootstrap */
        h1{
            margin-top:20px !important;
            font-size: 40px !important;
        }
        .header .overlay .plan{
        float: none;          
        margin: 0 auto 20px;
        font-size: 26px;
         }
    }


    @media (max-width:767px) { 
      h1{
        margin-top:40px;
      }
        .header .overlay .plan{
        float: none;          
        margin: 0 auto 20px;
        font-size: 26px;
         }
    }


    /* End Header */
 

    /* Start Features */
    .features{
      padding: 30px 0;
     }

   .features .feat{
    color: #555;
    padding:0 20px 0 0;
    margin-bottom: 30px;
   }
   .features .feat p{
    line-height: 1.6;
   }
   .features .feat h2{
    margin: 10px 0 8px;
    margin: 0;
   }
  .features .h1{
    font-size: 50px;
    color: #555;
  }
  @media (max-width:767px){
    .features .feat{
      text-align: center;
     }
    }
  @media (min-width:768px){
    .features .feat{
      width:50%;
     }

  }
  @media (min-width:992px){
    .features .feat{
      width:33.333%;
     }
  }
    /* End Features */


    /* Start About Us     */
   .about-us{
    background-color:#ececec;
    padding: 30px 0;
   }
   .about-us .h1{
     font-size:50px;
     color: #848484;
   }
    .about-us .responsive-paragraph{
      color: #848484;
    }


    /* End About Us      */



   /* Start Our works   */

   @media (max-width:767px){
    .our-works .image{
      width: 100%;
   }

   }

   @media (min-width:768px){
    .our-works .image{
      width: 50%;
   }

   }

   @media (min-width:992px){
    .our-works .image{
      width: 33.3333%;
   }

   }


     @media (min-width:1200px){
      .our-works .image{
        width: 25%;
     }

     }

     







   /* End Our works   */




   /* Start Our Pricing Table   */
    
   .pricing-table{
    background-color: #444;
    color: #fff;
    padding: 50px 0;
   }

   .pricing-table .h1{
    margin: 0 0 40px;
    font-size: 50px;
   }

  .pricing-table .pricing-plan{
    border: 3px solid #fff;
    padding: 20px 0;
    position: relative;
    
  }

  .pricing-table .pricing-plan h3{
   margin: 0 0 10px;
   font-size:26px;
  }
  .pricing-table .pricing-plan .pricing{
     font-size: 22px;
     display: inline-block;
     margin: 0 0 10px;
     color:#bfbfbf;
   }
   .pricing-table .pricing-plan ul{
    line-height: 2;
    font-size: 18px;
   }

   @media (max-width:767px){
    .pricing-table .pricing-plan{
      width:100%;
      margin-bottom: 20px;
    } 

  }

   @media (min-width:768px){
    .pricing-table .pricing-plan{
      width:100%;
      margin-bottom: 20px;
    } 

  }
   
   @media (min-width:992px){
    .pricing-table .pricing-plan:not(.ultimate){
    margin-right:1% ;


    }
    .pricing-table .pricing-plan{
      width:32.666%;
      margin-bottom: 0;
    } 

    .pricing-table .pricing-plan.plus{
      left: 33.666%;
    }

    .pricing-table .pricing-plan.premium{
      right:33.666%;
    }
   }
   /* End Our Pricing Table   */


   /* Start What the say   */
    
   .the-say{
    padding: 50px 0;
   }
   .the-say .h1{
    font-size: 50px;
    margin: 0 0 20px;
    color: #555;
   }

   .the-say .person-say{
     background-color: #EEE;
     padding: 20px;
     margin: 0 0 20px;
    border: 1px solid #DDD;
    border-radius:10px;
    
   }
   .the-say .person-say .avatar{
    width:100px ;
    margin-right: 20px;
  }
  
  
  .the-say .person-say h3{
    margin: 5px 0 10px;
  }
  
  .the-say .person-say p{
    margin: 0;
    line-height: 1.7;
    width:calc(100% - 120px);
  }
  .the-say .person-say .avatar{
    width:100px ;
    margin-right: 20px;
  }
  
  
  .the-say .person-say h3{
    margin: 5px 0 10px;
  }
  
  .the-say .person-say p{
    margin: 0;
    line-height: 1.7;
    width:calc(100% - 120px);
  }
    

   @media (max-width:767px){
    .the-say .person-say .avatar{
    float: none;
    margin: auto;

     }
     .the-say .person-say h3{
      float: none;
     text-align: center;
      

     }
     .the-say .person-say p{
      float: none;
       width: 100%;


     }
   }





   @media (min-width:768px){
    .the-say .person-say:first-of-type{
      width: 100%;
      
   }
  
   .the-say .person-say:not(:first-of-type){
    width: 49%;
  }
  .the-say .person-say:last-of-type{
    margin-left: 2%;
  }
  }

  @media (min-width:768px) and (max-width:991px){

    .the-say .person-say:not(:first-of-type) .avatar{
      float: none;
      margin: auto;


     }

     .the-say .person-say:not(:first-of-type) h3{
      float: none;
     text-align: center;
      

     }
     .the-say .person-say:not(:first-of-type) p{
      float: none;
     width: 100%;


     }
  }



 @media (min-width:992px){ 
  .the-say .person-say:first-of-type{
    width: 80%;
    margin-left:10% ;
 }
}





   /* End What the say   */
  

    /* Start Information */

    .information{
      background-color:#ececec;
      padding: 30px 0;
      font-size: 18px;
     }
     .information .h1{
       font-size:50px;
       color: #848484;
     }
    
    

     .information .info-list li{
       display: inline-block;
       background-color: #DDD;
       padding: 15px;
       font-size: 22px;
       cursor: pointer;

     }

     .information .info-list li.selected{
      background-color: #fff;
      color: #22a9bd;
     }

     .information .info-content{
      margin-bottom: 30px;
     }
     .information .info-content > div{
      padding: 20px;
      background-color: #fff;
      line-height: 2;
     }

     .information .info-content > div:not(:first-of-type){
      display: none;
     }


     @media (max-width:767px){
      .information .info-list li{
        display: block;
      }

     }

     /* End Information */
     
     /* Start Footer    */

     .footer{
      background-color: #333;
      color: #EEE;
     }
     .footer .copyright,
     .footer .design {
      padding: 20px;
      text-align: center;
     }
     @media (max-width:767px){
      .footer .copyright,
      .footer .design {
        width:100%;

      }


     }
     @media (min-width:768px) {
      .footer .copyright,
      .footer .design {
        width:50%;

      }

     }



     /* End Footer    */
   

@media (max-width:767px) { /*Mobile & tablet rules */
  .visible-xs{
    display: block !important;
  }
  .hidden-xs{
    display: none !important;
  }
  .responsive-paragraph{
    text-align: center;
    font-size: 20px !important;

  }
}

@media (min-width:768px)and (max-width:991px) { /*small screen rules */
.visible-sm{
        display: block !important;
      }
  .hidden-sm{
    display: none !important;
  }
  .container{
    width: 750px;
  }
}

@media (min-width:992px) and (max-width:1199px) { /*small screen rules */
    .visible-md{
        display: block !important;
      }
      .hidden-md{
        display: none !important;
      }
    .container{
        width: 970px;
      }
}

@media (min-width:1200px) { /*small screen rules */
    .visible-lg{
        display: block !important;
      }
      .hidden-lg{
        display: none !important;
      }
    .container{
        width: 1170px;
      }
}

    /* Start My framwork */
   .container{
    margin: auto;
    padding-left:15px;
    padding-right: 15px;
   }



    .text-center{
        text-align: center;
    }
     
   .clearFix{
    clear: both;
   }

   .visible-xs,
   .visible-sm,
   .visible-md,
   .visible-lg{
    display: none;
   }

   .float-left{
    float: left;
   }
   .float-right{
    float: right;
   }

   .h1{
    font-size: 2em;
   }
   .responsive-paragraph{
    line-height: 1.8;
    font-size: 22px;
   }
   .responsive-image{
     width: 100%;
   }

   .classic-list{
    margin: 0;
    padding: 0;
    list-style: none;
   }

   .image-circle{
    border-radius: 50%;
   }
   .image-thumbnail{
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;

   }


     /* End My framwork */